<ion-view view-title='{{restaurant.name}} '>
    <ion-content class='padding'>
        <div style="text-align: center;">
            <h1 class='show-rest-name'></h1>
        </div>
        <div style="text-align: center;">
            <h4 class='rest-desc'>{{restaurant.name}}: {{restaurant.menus[currentMenuIndex].title}}</h4>
        </div>
        <div>
            <ion-item-group>
                <ion-item-divider>Starters</ion-item-divider>
                <ion-item ng-repeat='dish in startersArray' class='item item-icon-left item-menus' ng-click="">
                    <i class='icon ion-android-restaurant'></i>
                    {{dish.name}}
                </ion-item>

            </ion-item-group>
            <ion-item-group>
                <ion-item-divider>Mains</ion-item-divider>
                <ion-item ng-repeat='dish in mainsArray' class='item item-icon-left item-menus' ng-click="">
                    <i class='icon ion-android-restaurant'></i>
                    {{dish.name}}
                </ion-item>
                <ion-item-divider light></ion-item-divider>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider>Desserts</ion-item-divider>
                <ion-item ng-repeat='dish in dessertsArray' class='item item-icon-left item-menus' ng-click="">
                    <i class='icon ion-android-restaurant'></i>
                    {{dish.name}}
                </ion-item>
            </ion-item-group>

        </div>
    </ion-content>
</ion-view>