<ion-view view-title='{{restaurant.name}} '>
    <ion-content class='padding'>
        <div style="text-align: center;">
            <h1 class='show-rest-name'></h1>
        </div>
        <div style="text-align: center;">
            <h4 class='rest-desc'>{{restaurant.name}}: {{restaurant.menus[currentMenuIndex].title}}</h4>
        </div>
        <div>
            <ion-item-group>
                <ion-item-divider ng-hide='startersArray.length==0'>Starters</ion-item-divider>
                <ion-item ng-repeat='dish in startersArray' class='item item-menus' ng-click="">
                    {{dish.name}}
                    <div class="dish-price">
                        {{dish.price}}
                    </div>
                    <button class="button dish-button">Add to Cart</button>
                </ion-item>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider ng-hide='mainsArray.length==0'>Mains</ion-item-divider>
                <ion-item ng-repeat='dish in mainsArray' class='item item-icon-left item-menus' ng-click="">
                    {{dish.name}}
                </ion-item>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider ng-hide='dessertsArray.length==0'>Desserts</ion-item-divider>
                <ion-item ng-repeat='dish in dessertsArray' class='item item-icon-left item-menus' ng-click="">
                    {{dish.name}}
                </ion-item>
            </ion-item-group>

        </div>
    </ion-content>
</ion-view>