/* Empty. Add your own CSS if you like */
.angular-google-map-container { height: 400px; }

.show-rest-name {
  background-color: rgba(255,159,79,0.8);
}

.item-menus {
  background-color: rgba(255,159,79,0.8);
}

.item-divider  {
  background-color: rgba(255,159,79,0.6);
}

.cancel-icon {
  font-size: 400%;
  color: #8f8f8f;
  opacity: .5;
  position: fixed;
  bottom: .2em;
  right: .3em;
  z-index: 99;
}

.dish-price {
  font-weight: 900;
}

ion-item-divider {
  font-size: 18px;
}

.left {
  float:left;
}
.right {
  float:right;
}
.button-orange {
  background-color: rgba(255,159,79,1);
  color:#FFF;
  font-weight: 900;
}


ion-item span {
  line-height: 31px;
}
