/* Empty. Add your own CSS if you like */
.angular-google-map-container { height: 400px; }

.show-rest-name {
  background-color: rgba(255,159,79,0.8);
}

.item-menus {
  background-color: rgba(255,159,79,0.8);
}

.cancel-icon {
  font-size: 400%;
  color: #8f8f8f;
  opacity: .5;
  position: fixed;
  bottom: .02em;
  right: .02em;
}
